.relatedproduct {
    border-bottom: 1px solid #D9D9D9;
    .container {
        .section-heading {
            display: flex;
            justify-content: center;
            padding-top: 50px;
            .heading__title{
                font-size: 36px;
                font-weight: 500;
                
            }
        }

        .section-body {
            .product-list {
                padding: 45px 0;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 25px;

                .product-item {
                    background-color: #F4F5F7;
                    ;
                    position: relative;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    height: 446px;
                    transition: 0.5s all;

                    .product-image {
                        width: 100%;
                        height: 301px;
                        overflow: hidden;
                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .product-discount {
                            position: absolute;
                            top: 10%;
                            right: 10%;
                            width: 48px;
                            height: 48px;
                            background: #E97171;
                            color: #FFFFFF;
                            font-size: 16px;
                            font-weight: 500;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                .product-item:hover .product-actions {
                    opacity: 1;
                }

                .product-infor {
                    max-width: 100%;
                    padding-top: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    overflow: hidden;

                    .product__name {
                        .product__link {
                            font-size: 24px;
                            font-weight: 600;
                            color: #3A3A3A;
                            text-decoration: none;
                            display: block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }


                    }

                    .product-category {
                        font-size: 16px;
                        font-weight: 500;
                        color: #898989;
                        text-decoration: none;
                        display: block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }

                .product-price {
                    max-width: 100%;
                    padding: 0 20px;
                    max-width: 100%;
                    padding-top: 8px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    >* {
                        width: 50%;
                    }

                    .product-price__new {
                        font-size: 20px;
                        font-weight: 600;
                        color: #3A3A3A;
                        display: block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;


                    }

                    .product-price__old {
                        font-size: 16px;
                        font-weight: 400;
                        color: #B0B0B0;
                        display: block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                    }
                }

                .product-actions {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.2);
                    display: flex;
                    align-items: center;
                    opacity: 0;
                    flex-direction: column;
                    justify-content: center;
                    gap: 25px;
                    transition: 0.5s all;

                    .product-action__addtocart {
                        width: 202px;
                        height: 48px;
                        background: #FFFFFF;
                        border: none;
                        font-size: 16px;
                        font-weight: 600;
                        color: #B88E2F;
                    }

                    .product-actions-more {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        gap: 25px;

                        span {
                            color: #FFFFFF;
                            font-size: 16px;
                            font-weight: 600;
                        }


                    }
                }
            }

        }

        .section-actions{
            display: flex;
            justify-content: center;
            padding-bottom: 80px;
            .action__more{
                width: 245px;
                height: 48px;
                border: 1px solid #B88E2F;
                background-color: #FFFFFF;
                font-size: 16px;
                font-weight: 600px;
                color: #B88E2F;
                cursor: pointer;
            }

        }
    }
}