.banner {
    width: 100%;
    /* Width of the container div */
    height: 316px;
    /* Height of the container div */
    overflow: hidden;
    /* Hide the overflow of the image */
    position: relative;
    img {
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: blur(1.5px);
    }
    .banner-opacity{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.5); /* Màu lớp phủ, 0.3 là độ mờ */
        pointer-events: none; /* Cho phép sự kiện đi qua lớp phủ */
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        span{
            font-size: 48px;
            font-weight: 500;
            font-family: "Poppins", sans-serif;
        }
        
        .banner-opacity__link{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            a{
                font-size: 16px;
                font-weight: 500;

            }

            p{
                font-size: 16px;
                font-weight: 300;
            }
        }

    }
}